.App {
  font-family: sans-serif;
  text-align: center;
  color: #151515;
}
.items-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 850px;
}

.item-details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.item-details p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-details p input {
  margin-right: 1rem;
}

.buttons {
  display: flex;
  gap: 10px;
}

.remove {
  background-color: red;
  border: none;
  padding: 7px;
  border-radius: 8px;
  color: white;
  width: 65px;
}

.edit-btn {
  border: none;
  width: 65px;
  padding: 7px;
  border-radius: 8px;
  color: white;
  background: #555;
}

.time {
  padding-right: 15px;
}

.form-container {
  margin-top: 25px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
